.footer{
  @include fira;
  font-size: 14px;
  text-align: center;
  background: $black;
  color: rgba(#fff, .5);
  p{
    margin: 0;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.footer__text{
  max-width: 520px;
}