//vars
$black: #212121;
$grey: #727272;
$green: #8cc34b;

//layout
@import "_misc/normalize.scss";
@import "_misc/fonts.scss";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/fa-solid.scss";
@import "fontawesome/fa-brands.scss";
@import "_misc/mixins.scss";
@import "_misc/adjustment.scss";

//styles
@import "header.scss";
@import "footer.scss";
@import "section1.scss";
@import "section2.scss";
